.thumbnail img{
    width: 100%;
}

.thumbnail{
 padding:0;    
}

.caption-full{
    padding:9px;
}

.show-img{
   max-height: 500px;
}

.idx-img {
   max-height: 150px;
}

.delete-form{
    display: inline;
}
.comment-section,.campground-section, .jumbotron{
    margin-top: 30px;
}