<% include ../partials/header%>
<div class="container">
   <h1 style="text-align:center">Post New Phone</h1>
   <div style="width:30%; margin: 20px auto;">
      <form action="/mobiles" method="POST">
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Name" name="mobile[name]">
         </div>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Image URL" name="mobile[image]">
         </div>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Description" name="mobile[description]">
         </div>
         <div class="form-group">
            <input type="text" class="form-control" placeholder="Price" name="mobile[price]">
         </div>
         <div class="form-group">
            <button class="btn btn-primary btn-lg btn-block">Add new phone</button>
         </div>
      </form>
      <a href="/mobiles">Back to mobiles</a>
   </div>

</div>
<% include ../partials/footer%>